/* Reset CSS */
* {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kotta One", sans-serif;
    color: black;
    line-height: 1.6;
    background-color: #fff;
}

/* Page d'accueil */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EDF6FF;
    padding: 20px;
}

header img#logo {
    width: 160px;
    height: 145px;
    border-radius: 50%;
}

header h1 {
    font-size: 35px;
    color: #000;
    text-align: center;
    flex-grow: 1;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 10px;
    list-style-type: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    display: block;
}

nav ul li a:hover {
    background-color: #c3d9f5;
}

.image-accueil {
    width: 100%;
    height: 200px ;
}
.présentation{
    padding: 10px;
}
/* Page des œuvres */

section#oeuvres h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #EDF6FF;
}

article.oeuvre {
    display: inline-block;
    width: 29%;
    margin: 5px;
    text-align: center;
    background-color: #d9d9d9b8;
    padding: 10px;
}

article.oeuvre img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

article.oeuvre p {
    margin-top: 10px;
    font-family: "Jacques Francois", serif;
    font-size: 15px;
}

/* Page contact */
section#contact h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #EDF6FF;
}

form {
    max-width: 600px;
    margin: 15px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px #0000001a;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="checkbox"] {
    margin-right: 10px;
}

form input[type="submit"] {
    background-color: #70a8ec;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

form input[type="submit"]:hover {
    background-color: #567ba6;
}

/* Footer */
footer {
    background-color: #5EA7C7;
    padding: 20px;
    text-align: center;
}

footer address {
    color: white;
    font-size: 16px;
}

footer address a {
    color: white;
    text-decoration: none;
}

footer address a:hover {
    text-decoration: underline;
}
test à revoir: 
/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    article.oeuvre {
        width: 100%;
        margin-bottom: 20px;
    }

    footer address {
        font-size: 14px;
    }
}