/* Reset CSS */

* {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    line-height: 1.6;
    background-color: #fff;
}

/* Page d'accueil */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5EA7C7;
    padding: 20px;
}

header img#logo {
    width: 160px;
    height: 145px;
    border-radius: 50%;
}



header h1 {
    color: #000;
    font-size: 110px;
    font-weight: 400;
    line-height: normal;
    text-align: center;    
    flex-grow: 1;    
    font-family: "Kotta One", serif; 
    font-style: italic;
}


nav ul {
    display: flex;
    justify-content: center;
    padding: 0px;
    list-style-type: none;

}

nav ul li {
    margin: 0 50px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 0px 25px;
    font-size: 42px;
    display: block;
}

nav ul li a:hover {
    background-color: #c3d9f5;
}

.image-accueil {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}
.présentation{
    margin: 20px;
    font-size: 21px;
}
/* Page des œuvres */

section#oeuvres h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color:#DF51A6;
    font-size: 42px;
}

article.oeuvre {
    display: inline-block;
    width: 25%;
    height: 220px;
    text-align: center;
    padding: 0;
    margin: 45px;
}

article.oeuvre img {
    width: 100%;
    height: 100%;
}

article.oeuvre p {
    margin: 0;
    margin-left: 0;
    padding: 15px;
    background-color: #fff;
    margin-top: -90px;
    font-family: "Jacques Francois", serif;
    font-size: 16px;
    opacity: 0.8; /* Semi-transparent */
    position: relative; /* Nécessaire pour le z-index */
}

/* Page contact */
section#contact h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #5EA7C7;
    font-size: 42px;
}

section#contact  h3 {
    margin-bottom: 20px;
    font-size: 32px;
    font-family: "Kotta One", serif; 
}

form {
    max-width: 800px;
    font-size: 32px;    
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"] {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: #D9D9D9;
    color: #000
}

input::placeholder {
    color: #000;
    font-size: 32px; 
    font-family: "Kotta One", serif;  
}

form input[type="checkbox"] {
    margin-right: 30px;
    margin-left: 10px;
    background-color: #D9D9D9;
    transform: scale(1.5);
    border: 0px ;
    border-radius: 0px;
    cursor: pointer;
}

form input[type="submit"] {
    background-color: #D9D9D9;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 32px;
    position: relative;
    left: 97%;
    font-family: "Kotta One", serif; 
}

form input[type="submit"]:hover {
    background-color: #567ba6;
}

/* Footer */
footer {
    margin-top: 30px;
    background-color: #5EA7C7;
}

footer address {

    color: white;
    font-size: 32px;
}

footer address a {
    color: white;
    text-decoration: none;
}

footer address a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    article.oeuvre {
        width: 100%;
        margin-bottom: 20px;
    }

    footer address {
        font-size: 14px;
    }
}

  





   
   
